<html>
    <head>
        <title>Help Desk Chat</title>
        
        <link rel="stylesheet" href="vendor/css/bootstrap.min.css"></link>
        <script src="vendor/js/jquery.min.js"></script>
        <script src="vendor/js/angular.min.js"></script>
        <script src="vendor/js/bootstrap.min.js></script>

        <script src="js/app.js"></script>
    </head>
    <body ng-app="communication" ng-controller="appCtrl">
        <form ng-init="isLogin">
            <h3>Login</h3>
            <div class="form-group">
                <label class="col-sm-3">Username</label>
                <input class="col-sm-6" ng-model="username">
            </div>
            <button class="btn-success" ng-click="login()">OK</button>
        </form>
    </body>
</html>
