<html>
    <head>
        <title>Help Desk Chat</title>
        
        <link rel="stylesheet" href="vendor/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="vendor/css/style.css">
        <script src="vendor/js/jquery.min.js"></script>
        <script src="vendor/js/angular.min.js"></script>
        <script src="vendor/js/bootstrap.min.js"></script>
        <script src="vendor/js/angular-sanitize.min.js"></script>
        <script src="vendor/js/ng-file-upload.min.js"></script>
        <script src="vendor/js/async.min.js"></script>

        <script src="vendor/js/socket.io.js"></script>
        
        <script src="js/app.js"></script>
        <script src="services/api-service.js"></script>
        <script src="components/left-side/left-side.js"></script>
        <script src="components/right-side/right-side.js"></script>
        <script>
            var socket = io('http://localhost:5005');
        </script>
    </head>
    <body ng-app="wi-help-desk-chat" ng-controller="appCtrl">
        <div ng-show="!isLogin" class="container">
            <form class="form-horizontal">
                <h3>Login</h3>
                <div class="form-group">
                    <label>Username</label>
                    <input ng-model="name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input ng-model="pw">
                </div>
                <button class="btn-success" ng-click="login(name, pw)">OK</button>
                <h3>Register</h3>
                <div class="form-group">
                    <label>Username</label>
                    <input ng-model="nameRegister">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input ng-model="pwRegister">
                </div>
                <button class="btn-success" ng-click="register(nameRegister, pwRegister)">OK</button>
            </form>
        </div>
        <div style="height: 100%;" 
            ng-show="isLogin" class="container">
                <div style="height: 100%; border: 1px solid #eee; background: #f5f5f5;" class="col-sm-3">
                    <left-side user="user" list-conver="listConver" cur-conver="curConver" token="token"></left-side>
                </div>
                <div style="height: 100%; border: 1px solid #eee;padding: 0px" class="col-sm-9">
                    <right-side user="user" list-conver="listConver" cur-conver="curConver" token="token"></right-side>
                </div>
        </div>
    </body>
</html>
