<style>
    ::placeholder {
        color: #eee;
    }
</style>
<div style="text-align: center; color: #419be8; font-weight: bold; font-size: 20px; border-bottom: 1px solid #eee" class="row">
    {{leftSide.user.username}}
    <span ng-show="leftSide.numNewMess>0" style="background: red" class="badge badge-danger">{{leftSide.numNewMess}}</span>
</div>
<div style="text-align: center;" class="row">
    <input style="width: 90%; border: 1px solid #eee; border-radius: 30px; padding: 5px" 
            ng-model="filterByName" type="text" placeholder="Search conversation by name">
</div>
<div class="row">
    <ul style="padding: 10px">
        <li style="padding: 5px; cursor: pointer;" ng-show="conver.Messages.length>=1"
            ng-repeat="conver in leftSide.listConver | filter: {name: filterByName} " ng-click="leftSide.changeCurConver(conver)">
            <p style="font-size: 16px;overflow: hidden; text-overflow: ellipsis; width: 80%; white-space: nowrap">{{conver.name.replace("Help_Desk-", "")}}</p>
            <div ng-if="conver.Messages[conver.Messages.length-1].type!='text'" style="color: gray; overflow: hidden; text-overflow: ellipsis; width: 80%; white-space: nowrap">{{leftSide.fileName(conver.Messages[conver.Messages.length-1].content)}}</div>
            <p ng-bind-html="conver.Messages[conver.Messages.length-1].content" ng-if="conver.Messages[conver.Messages.length-1].type=='text'" style="font-weight: {{leftSide.lastMessFontWeight(conver)}};overflow: hidden; text-overflow: ellipsis; width: 80%; white-space: nowrap"></p>
        </li>
    </ul>
</div>
